<div class="page-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="page-title">{{title}}</h3>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item active">{{title}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
