<div class="sidebar sidebar-css" id="sidebar">
                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <ul>
                            <li class="active">
                                <a href="{% url 'accounts:dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
                            </li>



                            {% if user.is_authenticated and user.active and user.is_superuser and user.user_type == 'SUPER_ADMIN' %}
                                <li class="menu-title"><span>Main</span></li>

                                <li class="submenu">
                                    <a href="#"><i data-feather="users"></i> <span> Users</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="{% url 'accounts:add_user' %}">Add User</a></li>
                                        <li><a href="{% url 'accounts:user_list' %}">All User</a></li>

                                    </ul>
                                </li>

                                <li class="menu-title"><span>Branch</span></li>

                                <li class="submenu">
                                    <a href="#"><i data-feather="briefcase"></i> <span> Branch</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="{% url 'branch:create_branch' %}">Create Branch</a></li>
                                        <li><a href="{% url 'branch:branch_list' %}">Branch List</a></li>
                                    </ul>
                                </li>

                                <li class="menu-title"><span>Event Management</span></li>

                                    <li class="submenu">
                                        <a href="#"><i data-feather="cast"></i> <span> Event Management</span> <span class="menu-arrow"></span></a>
                                        <ul>
                                            <li><a href="{% url 'lead_management:create_event' %}">Create Event</a></li>
                                            <li><a href="{% url 'lead_management:event_list' %}">Event List</a></li>

                                        </ul>
                                    </li>

                                    <li class="menu-title"><span>Lead Management</span></li>

                            <li class="submenu">
                                <a href="#"><i data-feather="database"></i> <span> Lead Management</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="{% url 'lead_management:create_single_lead' %}">Create Single Lead</a></li>
                                    <li><a href="{% url 'lead_management:create_bulk_lead' %}">Create Bulk Lead</a></li>
                                    <li><a href="{% url 'lead_management:lead_list' %}">All Lead</a></li>

                                </ul>
                            </li>

                            <li class="menu-title"><span>User Task Management</span></li>

                            <li class="submenu">
                                    <a href="#"><i data-feather="command"></i> <span> User Task Management</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="{% url 'lead_management:user_event_list' %}">View Assigned Lead</a></li>
                                    </ul>
                                </li>


                            <li class="submenu">
                                    <a href="#"><i data-feather="folder"></i> <span> Student Management</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="{% url 'students:student_list' %}">My Students</a></li>
                                    </ul>
                                </li>

                            {% elif  user.is_authenticated and user.active %}
                                <li class="submenu">
                                    <a href="#"><i data-feather="briefcase"></i> <span> User Task Management</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="{% url 'lead_management:user_event_list' %}">View Assigned Lead</a></li>
                                    </ul>
                                </li>


                                <li class="submenu">
                                    <a href="#"><i data-feather="layers"></i> <span> Student Management</span> <span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="{% url 'students:student_list' %}">My Students</a></li>
                                    </ul>
                                </li>
                            {% endif %}











                            <li class="menu-title"><span>Others</span></li>

                            <li class="submenu">

                            <li class="">
                                <a href="{% url 'accounts:dashboard' %}"><i data-feather="home"></i> <span>Meeting Announcement</span></a>
                            </li>
                            <li class="">
                                <a href="{% url 'accounts:dashboard' %}"><i data-feather="home"></i> <span>Todo List</span></a>
                            </li>
                            <li class="">
                                <a href="{% url 'accounts:dashboard' %}"><i data-feather="home"></i> <span>Sales Report</span></a>
                            </li>
                           <li class="">
                                <a href="{% url 'accounts:dashboard' %}"><i data-feather="home"></i> <span>Attendance</span></a>
                            </li>



                            </li>
                        </ul>
                    </div>
                </div>
            </div>

