{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} |
    {{title}}
{% endblock title %}


{% block content %}
    <div class="row">


        <div class="col-xl-12 col-md-12">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Basic information</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'lead_management:lead_details' lead_obj.id %}" novalidate>
                        {% csrf_token %}
                        {{ form.media }}
                        <div class="form-row">
                            <div class="col">
                              {{form.name|as_crispy_field}}
                            </div>
                            <div class="col">
                              {{form.email|as_crispy_field}}
                            </div>
                            <div class="col">
                              {{form.phone_number|as_crispy_field}}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                              {{form.present_address|as_crispy_field}}
                            </div>
                            <div class="col">
                              {{form.country_of_interest|as_crispy_field}}
                            </div>
                            <div class="col">
                              {{form.last_completed_education|as_crispy_field}}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                              {{form.ielts|as_crispy_field}}
                            </div>
                            <div class="col">
                              {{form.remarks|as_crispy_field}}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                              {{form.status|as_crispy_field}}
                            </div>
                            <div class="col">
                              {{form.note|as_crispy_field}}
                            </div>

                        </div>

                        <div class="form-row mb-3">
                            <div class="col user_select d-none">
                                <p class="m-0">User: </p>
                                
                                <select id="id_user" name="user" class="form-control">

                                </select>
                            </div>

                            <div class="col my-auto">
                                <strong>Lead Creation Date: </strong> {{lead_obj.created_at}}
                            </div>
                            <div class="col my-auto">
                                <strong>Currently Assigned To : </strong> {{lead_obj.student.assignee.username|title}}
                            </div>
                        </div>


                        <input type="submit" class="btn btn-primary  save-categorysubmit-btn status-change-button" name="save" value="Save" />

                        <input type="submit" class="btn btn-primary  save-categorysubmit-btn status-change-button {% if not check_next_lead %}
                            disabled
                        {% endif %}" name="save_continue" value="Save and Continue" />
                    </form>

                    <div class="d-flex justify-content-between mt-3">
                        {% if check_prev_lead %}
                            <a href="{% url 'lead_management:lead_details' check_prev_lead.lead.id %}" class="btn btn-info rounded-0 btn-sm">Prev</a>
                        {% else %}
                            <a href="javascript:void(0)" disabled class="btn btn-info rounded-0 btn-sm">Prev</a>
                        {% endif %}

                        {% if check_next_lead %}
                             <a href="{% url 'lead_management:lead_details' check_next_lead.lead.id %}" disabled class="btn btn-info rounded-0 btn-sm">Next</a>
                        {% else %}
                            <a href="javascript:void(0)" disabled class="btn btn-info rounded-0 btn-sm">Next</a>
                        {% endif %}



                    </div>

                </div>
            </div>
        </div>
    </div>


    
{% endblock content %}


{% block script %}
    <script>
        var url = "{% url 'accounts:load_all_user' %}"
        var initial_status_value = $("#id_status").val();


        if(initial_status_value === 'FILE_OPENED'){
            get_user();
        }else{
            $(".user_select").addClass('d-none')
        }

        $("#id_status").change(function(e) {
            var status_value = $(this).val();
            
            if(status_value === 'FILE_OPENED'){
                get_user()
            }else{
                $(".user_select").addClass('d-none')
            }
        })

        function get_user(){
                $.ajax({
                    url: url,
                    success: function (data) {
                        $(".user_select").removeClass('d-none')
                        $("#id_user").html(data);
                    }

                });
            }
    </script>
{% endblock script %}
