{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} |
    {{title}}
{% endblock title %}


{% block content %}
    <div class="row">
        <!--<div class="col-xl-3 col-md-4">

            <div class="widget settings-menu">
                <ul>
                    <li class="nav-item">
                        <a href="#" data-toggle="modal" data-target="#change_status" class="nav-link change_status">
                            <i class="fas fa-edit"></i> Change Status
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="preferences.html" class="nav-link">
                            <i class="fas fa-cog"></i> <span>Preferences</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div> -->

        <div class="col-xl-9 col-md-8">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Basic information</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-nowrap mb-0 task-table">
                            <tr>
                                <th>Event Name</th>
                                <td>{{lead_obj.event.name}}</td>
                            </tr>

                            <tr>
                                <th>Name</th>
                                <td>{{lead_obj.name}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{lead_obj.email}}</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>{{lead_obj.phone_number}}</td>
                            </tr>

                            <tr>
                                <th>Present Address</th>
                                <td>{{lead_obj.present_address}}</td>
                            </tr>

                            <tr>
                                <th>Country Of Interest</th>
                                <td>{{lead_obj.country_of_interest}}</td>
                            </tr>

                            <tr>
                                <th>Last Completed Education</th>
                                <td>{{lead_obj.last_completed_education}}</td>
                            </tr>

                            <tr>
                                <th>Ielts</th>
                                <td>{{lead_obj.ielts}}</td>
                            </tr>

                            <tr>
                                <th>Remarks</th>
                                <td>{{lead_obj.note}}</td>
                            </tr>

                            <tr>
                                <th>Status</th>
                                <td>{{lead_obj.get_status_display}}</td>
                            </tr>

                            <tr>
                                <th>Created AT</th>
                                <td>{{lead_obj.created_at}}</td>
                            </tr>

                            <tr>
                                <td>
                                    {{form.errors}}
                                    <form method="POST" action="{% url 'lead_management:lead_details' lead_obj.id %}" novalidate>
                                        {% csrf_token %}
                                        {{form|crispy}}

                                        <button type="submit" class="btn btn-primary  save-categorysubmit-btn status-change-button">Save</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal custom-modal fade" id="change_status">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Status</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="modal-body-form">
                        <div class="submit-section">
                            <form method="POST" id="status-change-form">
                                {% csrf_token %}
                                {{form|crispy}}

                                <button type="button" class="btn btn-primary  save-categorysubmit-btn status-change-button">Save</button>
                            </form>
                        </div>
                    </div>

                    <div class="modal-body-check d-none text-success text-center">
                        <i class="fas fa-check fa-5x"></i>
                    </div>

                    <div class="modal-body-cross d-none text-danger text-center">
                       <i class="fas fa-times fa-5x"></i>
                    </div>


                    <div class="msg font-weight-bold"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script>
        // var lead_id = "{{lead_id|safe}}"


        // $(".change_status").on("click",function() {
        //     $.ajax({
        //         url: '{% url "lead_management:get_lead_status" lead_id %}',
        //         type: 'GET',
        //     })
        //     .done(function(data) {
        //         $(".modal").modal('show');
        //         $("#id_note").val(data.note)
        //         $(`#id_status option[value=${data.status}]`).attr('selected','selected');
        //     })
        //     .fail(function(err) {
        //         $(".modal-title").text("Something went wrong!")
        //         $(".modal-body-check").addClass("d-none")
        //         $(".modal-body-cross").removeClass("d-none")
        //         $(".msg").text(xhr.responseText)
        //     })
        // })

        // $(".close").on("click",function(e) {
        //     window.location.reload();
        // })





        // $('.status-change-button').on('click', function(event){
        //     event.preventDefault();
        //     var form_data = $("#status-change-form").serialize();


        //     $(".modal-body-form").hide()
        //     $.ajax({
        //         type:'POST',
        //         url:'{% url "lead_management:update_lead_status" lead_id %}',
        //         data:form_data,
        //         success:function(data){
        //             console.log(data)
        //             $(".modal-body-cross").addClass("d-none")
        //             $(".modal-body-check").removeClass("d-none")

        //             $(".modal-title").text("Successful!")
        //             $(".msg").text(data)
        //         },
        //         error : function(xhr,errmsg,err) {
        //             console.log(xhr.status + ": " + xhr.responseText);
        //             $(".modal-title").text("Something went wrong!")
        //             $(".modal-body-check").addClass("d-none")
        //             $(".modal-body-cross").removeClass("d-none")
        //             $(".msg").text(xhr.responseText)
        //         }
        //     });

        // });
    </script>
{% endblock script %}
